.header-brand h4{font-size: 20px;
    color: white;
    position: relative;
    top: 10px;}

   .reload_captcha{
   	float: right;
    position: relative;
    margin-top: 10px;
   }
   .error_msg{
   	color: red;
   	font-size: 12px;
   }
  .card-animate:hover {
    width: 105%;
    
    box-shadow: 0 16px 26px 0 rgb(133, 75, 171), 0 3px 6px 0 rgba(198,198,198,0.2);
}

.text-footer{
  color: #c35f04 !important;
}

       #sidebar {
   min-width: 240px;
   max-width: 240px;
   min-height: 546px;
   -webkit-box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
   box-shadow: 0 16px 26px 0 rgba(119, 119, 119,0.1), 0 3px 6px 0 rgba(119, 119, 119,0.1);
   color: #fff;
   -webkit-transition: all 0.3s;
   -o-transition: all 0.3s;
   transition: all 0.3s;
   z-index: 10;
   background-image: linear-gradient(to left,#9853af,#623AA2);
   position: relative;
   background-size: cover;
   background-position: fixed;
}


.user-profile-add .user-profile {
   padding: 0 0 15px;
   position: relative;
   text-align: center;
   border-bottom: 1px solid rgba(255,255,255,0.09);

margin :0px auto;
}



.user-profile-add span{  font-size:24px;}


.user-profile-add .user-profile  h2 {
   padding-right: 15px;
   margin-bottom: 10px;
}


.user-profile-add .user-profile h2 {
   padding-right: 15px;
   padding: 0px 0px;
   color: #7d46a8;
   font-size: 16px;
   line-height: 21px;
}

.user-profile-add  .user-profile .user-pro-body {
       display: block;
   padding: 10px 0px;
   background: white;
   box-shadow: 5px 5px 5px #00000021;
   border-radius: 11px;
}
.user-profile .user-pro-body img {
    width: 100px;
}

.image-upload > input {
  display: none;
}
.image-upload > label {
  position: absolute;
  margin-top: -28px;
  margin-left: 20px;
}
.image-upload > label > i {
  color: #e7ac31;
  font-size: 18px;
  cursor: pointer;
}

.circle-icon1{
        height: 222px;
    width: 272px;
    position: relative;
    margin-left: 30px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.jac_notify{
  float: right;
}
.jac_notify h5{
      background: gold;
    position: absolute;
    padding: 4px;
    margin-left: -10px;
}

.modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 5px;
}

.close{
      color: #d27906;
    font-weight: bolder;
}

.pro_both{
     border-radius: 50%;
   box-shadow: 5px 5px 5px #00000057;
   border: 1px solid #844aaa;
   width: 20%;
   position: absolute;
   left: 10px;
   top: 10px;
}

.pro_both  img{  border-radius: 50%;}

.relative_add{ position:relative;}

.select_ab{position: absolute;
    bottom: 5px;
    left: 30px;
    height: 30px;
    border: transparent;}

.sim-button{
      text-align: center;
    margin-right: auto;
    margin-left: auto;
}
.button4 {
  color: rgba(255,255,255,1);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
  border: 1px solid rgba(255,255,255,0.5);
  overflow: hidden;
}
.button4 a{
  color: rgba(51,51,51,1);
  text-decoration: none;
  display: block;
}
.button4 > span {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.button4:hover{
  background-color: rgba(255,255,255,0.2);
}
.button4:hover > span{
  opacity: 0;
  -webkit-transform: translate(0px,40px);
  transform: translate(0px,40px);
}
.button4::after{
  content: attr(data-text);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 5px;
  left: 0;
  opacity: 0;
  -webkit-transform: translate(-30%, -50%) rotate(-30deg);
  transform: translate(-30%, -50%) rotate(-30deg);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; 
  
}
.button4:hover::after{
  opacity: 1;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.tree{
  margin: -8px;
  overflow: auto;
}

.hv-wrapper {
  display: flex; }
  .hv-wrapper .hv-item {
    display: flex;
    flex-direction: column;
    margin: auto; }
    .hv-wrapper .hv-item .hv-item-parent {
      margin-bottom: 50px;
      position: relative;
      display: flex;
      justify-content: center; }
      .hv-wrapper .hv-item .hv-item-parent:after {
        position: absolute;
        content: '';
        width: 2px;
        height: 25px;
        bottom: 0;
        left: 50%;
        background-color: rgba(0, 0, 0, 0.7);
        transform: translateY(100%); }
    
  
  
  .hv-wrapper .hv-item .hv-item-children {
      display: flex;
      justify-content: center; }
      
    .hv-wrapper .hv-item .hv-item-children .hv-item-child {
        padding: 0 15px;
        position: relative; }
       
     .hv-wrapper .hv-item .hv-item-children .hv-item-child:before, 
     .hv-wrapper .hv-item .hv-item-children .hv-item-child:not(:only-child):after {
          content: '';
          position: absolute;
          background-color: rgba(0, 0, 0, 0.7);
          left: 0; }
        
    .hv-wrapper .hv-item .hv-item-children .hv-item-child:before {
          left: 50%;
          top: 0;
          transform: translateY(-100%);
          width: 2px;
          height: 25px; }
       
     .hv-wrapper .hv-item .hv-item-children 
     .hv-item-child:after {
          top: -25px;
          transform: translateY(-100%);
          height: 2px;
          width: 100%; }
        .hv-wrapper .hv-item .hv-item-children 
    .hv-item-child:first-child:after {
          left: 50%;
          width: 50%; }
        .hv-wrapper .hv-item .hv-item-children 
    .hv-item-child:last-child:after {
          width: calc(50% + 1px); }
      
      
      
      
      
     .hv-wrapper .hv-item .hv-item-children  .hv-item-children-add{
    display: flex;
    justify-content: center;
         margin-top: 48px;
}
 
      
      .hv-wrapper .hv-item .hv-item-children  .hv-item-children-add:before {
    position: absolute;
    content: '';
    width: 2px;
    height: 25px;
    bottom: 0;
    left: 50%;
  top: 80px;
    background-color: rgba(0, 0, 0, 0.7);
    transform: translateY(100%);
}
      
      
      
      
      
      
      
      
      
      .hv-wrapper .hv-item .hv-item-parent:after {
    position: absolute;
    content: '';
    width: 2px;
    height: 25px;
    bottom: 0;
    left: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    transform: translateY(100%);
}  
      
.tree section {
  min-height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0px 0;
  position: relative; }
  .tree section .github-badge {
    position: absolute;
    top: 0;
    left: 0; }
  .tree section h1 {
    text-align: center;
    margin-bottom: 70px; }
  .tree section .hv-container {
   flex-grow: 1;
   padding: 0px;
    overflow-x: scroll;
    justify-content: center;}

.basic-style {
  background-color: #EFE6E2; }
  .basic-style > h1 {
    color: #ac2222; }

.tree p.simple-card {
  margin: 0;
  background-color: #fff;
  color: #DE5454;
  padding: 30px;
  border-radius: 7px;
  min-width: 100px;
  text-align: center;
  box-shadow: 0 3px 6px rgba(204, 131, 103, 0.22); }

.hv-item-parent p {
  font-weight: bold;
  color: #DE5454; }

.management-hierarchy {
  background-color: white; }
  .management-hierarchy > h1 {
    color: #FFF; }
  .management-hierarchy .person {
    text-align: center; }
    .management-hierarchy .person > img {
      height: 80px;
      border: 5px solid #FFF;
      border-radius: 50%;
      overflow: hidden;
      background-color: #fff; }
    .management-hierarchy .person > p.name {
      background-color: #fff;
      padding: 5px 10px;
      border-radius: 5px;
      font-size: 12px;
      font-weight: normal;
      color: #3BAA9D;
      margin: 0;
      position: relative; }
      .management-hierarchy .person > p.name b {
        color: rgba(59, 170, 157, 0.5); }
      .management-hierarchy .person > p.name:before {
        content: '';
        position: absolute;
        width: 2px;
        height: 8px;
        background-color: #fff;
        left: 50%;
        top: 0;
        transform: translateY(-100%); }
        .hv-wrapper .hv-item .hv-item-children  .hv-item-children-add-two{
   display: flex;
   justify-content: center;
      margin-top: 57px;
} 





