.header-brand h4{font-size: 20px;
    color: white;
    position: relative;
    top: 10px;}

    .right{
    	margin-left: auto;
    }

.card-animate:hover {
    width: 105%;
    
    box-shadow: 0 16px 26px 0 rgb(133, 75, 171), 0 3px 6px 0 rgba(198,198,198,0.2);
}

.text-footer{
  color: #c35f04 !important;
}

    #sidebar {
   min-width: 240px;
   max-width: 240px;
   min-height: 546px;
   -webkit-box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
   box-shadow: 0 16px 26px 0 rgba(119, 119, 119,0.1), 0 3px 6px 0 rgba(119, 119, 119,0.1);
   color: #fff;
   -webkit-transition: all 0.3s;
   -o-transition: all 0.3s;
   transition: all 0.3s;
   z-index: 10;
   background-image: linear-gradient(to left,#9853af,#623AA2);
   position: relative;
   background-size: cover;
   background-position: fixed;
}


.user-profile-add .user-profile {
   padding: 0 0 15px;
   position: relative;
   text-align: center;
   border-bottom: 1px solid rgba(255,255,255,0.09);

margin :0px auto;
}



.user-profile-add span{  font-size:24px;}


.user-profile-add .user-profile  h2 {
   padding-right: 15px;
   margin-bottom: 10px;
}


.user-profile-add .user-profile h2 {
   padding-right: 15px;
   padding: 0px 0px;
   color: #7d46a8;
   font-size: 16px;
   line-height: 21px;
}

.user-profile-add  .user-profile .user-pro-body {
       display: block;
   padding: 10px 0px;
   background: white;
   box-shadow: 5px 5px 5px #00000021;
   border-radius: 11px;
}

.pro_both{
     border-radius: 50%;
   box-shadow: 5px 5px 5px #00000057;
   border: 1px solid #844aaa;
   width: 20%;
   position: absolute;
   left: 10px;
   top: 10px;
}

.pro_both img {
    border-radius: 50%;
}

.user-profile .user-pro-body img {
    width: 100px;
}
.image-upload > input {
  display: none;
}
.image-upload > label {
  position: absolute;
  margin-top: -28px;
  margin-left: 20px;
}
.image-upload > label > i {
  color: #e7ac31;
  font-size: 18px;
  cursor: pointer;
}

.circle-icon1{
        height: 222px;
    width: 272px;
    position: relative;
    margin-left: 30px;
    margin-bottom: 5px;
    border-radius: 5px;
}











