/******************* Timeline Demo - 5 *****************/
.main-timeline5{overflow:hidden;position:relative}
.main-timeline5 .timeline{position:relative;margin-top:-79px}
.main-timeline5 .timeline:first-child{margin-top:0}
.main-timeline5 .timeline-icon,.main-timeline5 .year{margin:auto;position:absolute;top:0;left:0;bottom:0;right:0}
.main-timeline5 .timeline:after,.main-timeline5 .timeline:before{content:"";display:block;width:100%;clear:both}
.main-timeline5 .timeline:before{content:"";width:100%;height:100%;box-shadow:-8px 0 5px -5px rgba(0,0,0,.5) inset;position:absolute;top:0;right:0;z-index:2}
.main-timeline5 .timeline-icon{width:210px;height:210px;border-radius:50%;border:25px solid transparent;border-top-color:#f44556;border-right-color:#f44556;z-index:1;transform:rotate(45deg)}

.main-timeline5 .year{    display: block;
    width: 110px;
    height: 110px;
    padding: 40px 0px 0px 0px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,.4);
    font-size: 16px;
    font-weight: 700;
    color: #f44556;
    text-align: center;
    transform: rotate(-45deg);}

.main-timeline5 .timeline-content{width:35%;float:right;background:#f44556;padding:30px 20px;margin:50px 0;z-index:1;position:relative}
.main-timeline5 .timeline-content:before{content:"";width:20%;height:15px;background:#f44556;position:absolute;top:50%;left:-20%;z-index:-1;transform:translateY(-50%)}
.main-timeline5 .title{font-size:20px;font-weight:700;color:#fff;margin:0 0 10px}
.main-timeline5 .description{font-size:16px;color:#fff;line-height:24px;margin:0}
.main-timeline5 .timeline:nth-child(2n):before{box-shadow:8px 0 5px -5px rgba(0,0,0,.5) inset}
.main-timeline5 .timeline:nth-child(2n) .timeline-icon{transform:rotate(-135deg);border-top-color:#e97e2e;border-right-color:#e97e2e}
.main-timeline5 .timeline:nth-child(2n) .year{transform:rotate(135deg);color:#e97e2e}
.main-timeline5 .timeline:nth-child(2n) .timeline-content{float:left}
.main-timeline5 .timeline:nth-child(2n) .timeline-content:before{left:auto;right:-20%}
.main-timeline5 .timeline:nth-child(2n) .timeline-content,.main-timeline5 .timeline:nth-child(2n) .timeline-content:before{background:#e97e2e}
.main-timeline5 .timeline:nth-child(3n) .timeline-icon{border-top-color:#13afae;border-right-color:#13afae}
.main-timeline5 .timeline:nth-child(3n) .year{color:#13afae}
.main-timeline5 .timeline:nth-child(3n) .timeline-content,.main-timeline5 .timeline:nth-child(3n) .timeline-content:before{background:#13afae}
.main-timeline5 .timeline:nth-child(4n) .timeline-icon{border-top-color:#105572;border-right-color:#105572}
.main-timeline5 .timeline:nth-child(4n) .year{color:#105572}
.main-timeline5 .timeline:nth-child(4n) .timeline-content,.main-timeline5 .timeline:nth-child(4n) .timeline-content:before{background:#105572}
@media only screen and (max-width:1199px){.main-timeline5 .timeline{margin-top:-103px}
.main-timeline5 .timeline-content:before{left:-18%}
.main-timeline5 .timeline:nth-child(2n) .timeline-content:before{right:-18%}
}
@media only screen and (max-width:990px){.main-timeline5 .timeline{margin-top:-127px}
.main-timeline5 .timeline-content:before{left:-2%}
.main-timeline5 .timeline:nth-child(2n) .timeline-content:before{right:-2%}
}
@media only screen and (max-width:767px){.main-timeline5 .timeline{margin-top:0;overflow:hidden}
.main-timeline5 .timeline:before,.main-timeline5 .timeline:nth-child(2n):before{box-shadow:none}
.main-timeline5 .timeline-icon,.main-timeline5 .timeline:nth-child(2n) .timeline-icon{margin-top:-30px;margin-bottom:20px;position:relative;transform:rotate(135deg)}
.main-timeline5 .timeline:nth-child(2n) .year,.main-timeline5 .year{transform:rotate(-135deg)}
.main-timeline5 .timeline-content,.main-timeline5 .timeline:nth-child(2n) .timeline-content{width:100%;float:none;border-radius:0 0 20px 20px;text-align:center;padding:25px 20px;margin:0 auto}
.main-timeline5 .timeline-content:before,.main-timeline5 .timeline:nth-child(2n) .timeline-content:before{width:15px;height:25px;position:absolute;top:-22px;left:50%;z-index:-1;transform:translate(-50%,0)}
}


.sucess_title_plus {
    text-align: center;
    padding: 10px 0px;
    font-size: 32px !important;
    font-size: 22px;
    color: #85ac35;
}

.alertok {
          font-size: 22px;
    margin-top: 11px;
    color: #e67c0c;
    text-align: center;
    margin: 0px 0px;
}


.success  .card-block{    text-align: center;}





	.success  .card-block p{        margin-bottom: 0px;
    font-size: 16px;
    color: #fffcfc;
    font-weight: 500;;}



.sucess_content{    font-size: 12px;
    margin: 10px 0px 0px 0px;
    text-align: center;}


.highlight_text {
    font-size: 28px;
    font-weight: 600;
    
    text-transform: capitalize;
    color: white;
    padding: 0px 4px;
   background: linear-gradient(to right, #2e2e2e 20%, #ebb15a 40%, #393836 60%, #eeb158 80%);
    background-size: 200% auto;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #16141417;
    animation: shine 3s linear infinite;
    
    
}

 @keyframes shine {
    0% {
      background-position: 50% center;
    }
    
    
     50% {
      background-position: 100% center;
    }
    
      100% {
      background-position: 200% center;
    }
    
    
  }
  
  .text-center { text-align:center;}
  
  
  
 
	.success  .box {
    position: relative;
    top: 0;
    opacity: 1;
    float: left;
    padding: 60px 50px 40px 50px;
    width: 100%;
	    border: 1px solid #e67c0c42;
    background: #0a0a09a8;
    border-radius: 10px;
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    z-index: 5;
}
  
  
  
  
  .verify 
  
  .verify   .sucess_title_plus {
    text-align: center;
    padding: 10px 0px;
    font-size: 32px !important;
    font-size: 22px;
    color: #85ac35;
}

 .verify  .alertok {
          font-size: 22px;
    margin-top: 11px;
    color: #e67c0c;
    text-align: center;
    margin: 0px 0px;
}


 .verify   .card-block{    text-align: center;}





	 .verify   .card-block p{        margin-bottom: 0px;
    font-size: 16px;
    color: #fffcfc;
    font-weight: 500;;}



  .verify_content{    font-size: 12px;
    margin: 10px 0px 0px 0px;
    text-align: center;}


 .verify  .highlight_text {
    font-size: 28px;
    font-weight: 600;
    color: white;
    padding: 0px 4px;
   background: linear-gradient(to right, #2e2e2e 20%, #ebb15a 40%, #393836 60%, #eeb158 80%);
    background-size: 200% auto;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #16141417;
    animation: shine 3s linear infinite;
    text-transform: capitalize;
}

 @keyframes shine {
    0% {
      background-position: 50% center;
    }
    
    
     50% {
      background-position: 100% center;
    }
    
      100% {
      background-position: 200% center;
    }
    
    
  }
  
  .text-center { text-align:center;}
  
  
  
 
	 .verify   .box {
        position: relative;
    top: 0;
    opacity: 1;
    float: left;
    padding: 60px 20px 40px 20px;
    width: 100%;
    border: 1px solid #e67c0c42;
    background: #0a0a09a8;
    border-radius: 10px;
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    z-index: 5;
}
  .primary-menu-menu>li {
    display: inline-block;
    position: relative;
    padding: 0px 10px;
    float: left;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    background-color: transparent;
}


.marquee_style{           /* cursor: pointer; */
    text-decoration: none;
    vertical-align: middle;
    padding: 0px 10px;
    font-size: 21px;
    margin: 20px 0px 0px 0px;
    font-weight: 900;
    border-radius: 50px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    text-align: center;
    /* line-height: 1; */
    color: #f3a300;
    border: 1px solid #ffffff30;}
    
    
    
    
    
    
    


    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    